*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #9AD1D4;
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card{
    background-color: #fff;
    max-width: 375px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.card1{
border-top-left-radius: 5%;
border-top-right-radius: 5%;
}

.card3{
border-bottom-left-radius: 5%;
border-bottom-right-radius: 5%;
}

.imgs{
    width: 100%;
}

.button{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid#0077b6;
    border-radius: 5%;
    color: #0077b6;
    font-weight: bold;
  

}

.button:hover{
 color: #fff;
 background-color: #0077b6;
}

.grey{
    color: #808080;
    margin-bottom: 40px;
    margin-top: 15px;
    font-weight: bold;
}

.small_blue{
    color: #0077b6;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 10px;
}

.big_blue{
    color: #0077b6;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;

}

@media (min-width:1440px){

    #container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
     
    }

    .card{
        width: 33%;
        padding-left: 5px;
        padding-right:5px ;
     
    }

    .imgs{
        width: 60%;
    }

    .card1{
        border-top-left-radius: 2%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 2%;
        
        }

       

     

            .button{
                margin-bottom: 20px;
            }

            .grey{
               font-size: 14px;
               margin-bottom: 50px;
            }
            
            .small_blue{
               
                font-size: 13px;
                text-align: center;
                margin-bottom: 30px;
                width: 60%;
           
               
            }
            
            .big_blue{
                 font-size: 32px;
            }

            .card3{
                border-bottom-left-radius: 0%;
                border-bottom-right-radius: 2%;
                border-top-right-radius: 2%;
               
                }
               
            
}