*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

body{
    background-color: #9AD1D4;
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card{
    background-color: #fff;
    max-width: 375px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.card1{
border-top-left-radius: 5%;
border-top-right-radius: 5%;
}

.card3{
border-bottom-left-radius: 5%;
border-bottom-right-radius: 5%;
}

.imgs{
    width: 100%;
}

.button{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid blue;
    border-radius: 5%;
}

@media (min-width:1440px){

    #container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
     
    }

    .card1{
        border-top-left-radius: 5%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 5%;
        
        }

        .card3{
            border-bottom-left-radius: 0%;
            border-bottom-right-radius: 5%;
            border-top-right-radius: 5%;
            }
}